@inherits LayoutComponentBase

<div class="container">
    <central>
        <RadzenNotification />
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <img src="/img/logo1.png" class="loginLogoImg" />
            </div>
            <div class="col-6 loginBodyForm">
                @Body
            </div>
            <div class="col-12 row">
                <p>&nbsp;</p>
            </div>
        </div>
    </central>
</div>