<li class="nav-item px-3">
    <NavLink class="nav-link" href="users">
        <span class="oi oi-people" aria-hidden="true"></span> Users
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="addresses">
        <span class="oi oi-signpost" aria-hidden="true"></span>Addresses
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="vehicles">
        <RadzenIcon Icon="directions_car" /> &nbsp; &nbsp; Vehicles
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="vendingmachines">
        <RadzenIcon Icon="ballot" /> &nbsp; &nbsp; Vending Machines
    </NavLink>
</li>

@code {

}
