<li class="nav-item px-3">
    <NavLink class="nav-link" href="editproducts">
        <RadzenIcon Icon="fastfood" />&nbsp; &nbsp; Products
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="vendingmachineproducts">
        <RadzenIcon Icon="ballot" /> &nbsp; &nbsp; Vending Machines
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="incomes">
        <RadzenIcon Icon="monetization_on" /> &nbsp; &nbsp; Income
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="defects">
        <RadzenIcon Icon="build" /> &nbsp; &nbsp; Defects
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="schedules">
        <RadzenIcon Icon="date_range" /> &nbsp; &nbsp; Schedules
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="reports">
        <RadzenIcon Icon="assignment" /> &nbsp; &nbsp; Reports
    </NavLink>
</li>

@code {

}
