@page "/counter"
@attribute [Authorize]
@inject NotificationService _notificationService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<RadzenButton Text=@($"Show info notification") Style="margin-bottom: 20px; width: 200px"
              Click="@(args => ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Info, Summary = "Info Summary", Detail = "Info Detail", Duration = 4000 }))" />
<br />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    void ShowNotification(NotificationMessage message)
    {
        _notificationService.Notify(message);
    }
}
