@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tmp == null)
{


}
else
{

    <p><em>@tmp.Price</em></p>
    <p><em>@tmp.VendingMachine.Model</em></p>
    <p><em>@tmp.Product.Code</em></p>
    //<p><em>@tmp.VendingMachine.Code</em></p>

}

@code {
    private VendingMachineProductPrice tmp = null;

    protected override async Task OnInitializedAsync()
    {
        var x = new VendingMachineProductPrice
        {
            Price = 150,
            VendingMachineId = 2,
            ProductId = 1
        };
        x.SetAudit(1);

        var id = await Http.SendJsonAsync<int>(HttpMethod.Post, Routes.VendingMachineProductPrice.Root, x);

        tmp = await Http.GetJsonAsync<VendingMachineProductPrice>(Routes.VendingMachineProductPrice.ById.Replace("{id}", "1"));
    }

}
