@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tmp == null)
{


}
else
{

    <p><em>@tmp.Name</em></p>
    
    //<p><em>@tmp.VendingMachine.Code</em></p>

}

@code {
    private AppUser tmp = null;

    protected override async Task OnInitializedAsync()
    {
        var x = new AppUser
        {
            Name = "Martin",
            LastName = "M",
            Email = "martin@martin.com",
            UserRole = Role.OfficeWorker,
            AddressId = 1
        };

        await Http.SendJsonAsync(HttpMethod.Post, Routes.User.Root, x);

        tmp = await Http.GetJsonAsync<AppUser>(Routes.User.ById.Replace("{id}", "5"));
    }

}
